---
layout: default
title: Growfood - Homepage
---

<div class="slider_wrapper animated fadeIn">
    
    <div id="slider" class="nivoSlider">
        <img src="/media/slide1.jpg" title="#htmlcaption1" />
        <img src="/media/slide2.jpg" title="#htmlcaption2" />
        <img src="/media/slide3.jpg" title="#htmlcaption3" />
    </div>
    <div class="texture">
        <img src="/media/texture.svg" alt="">
    </div>
      <!--   <div id="htmlcaption1" class="nivo-html-caption">
            <h2>Are you a beet?</h2>
            <p>Titanium white, Thalo green, Prussian blue, Van Dyke brown, Alizarin crimson, Sap green, Cad yellow, and Permanent red.</p>
        </div>
        <div id="htmlcaption2" class="nivo-html-caption">
            <h2 class="bg-wine-grape">Red hot Chili Peppers</h2>
            <p>This is your world, whatever makes you happy you can put in it.</p>
        </div>
        <div id="htmlcaption3" class="nivo-html-caption">
            <h2 class="bg-sunny-grass">Prussian blue</h2>
            <p>
                You can create the world you want to see and be a part of
            </p>
        </div> -->
</div>
<div class="landing-lead">
    <div class="landing-lead_contents">
        <img src="/media/leaf.svg" alt="leaf in ground">
        <h2>Our Misson</h2>
        <p>
            Edible Campus is your guide to growing food at UC Davis. Through a comprehensive list of edible landscapes, a blog and event calendar, growfood connects students, staff, and community members to opportunities to grow food on campus and shares what’s happening at our campus gardens.
        </p>
    </div>
</div>
<div class="landing-feature-wrapper">
    <div class="landing-feature">
        <h3>Featured Garden</h3>
        <div class="landing-feature-box">
            {% for post in site.tags.feature %}
                <div class="featured-garden-wrapper">
                    <div class="featured-garden-image">
                        <img src="/media/gardens/{{ post.imagesource }}/one.jpg" alt="">
                    </div>
                    <div class="featured-garden-text">
                        <h2>
                      <a class="post-link white-hover" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                    </h2>
                    <p>{{ post.description }}</p>
                    <br>
                    <br>
                    {% if post.growing %}
                    <p><b>What's Growing: </b><span>{{ post.growing }}</span></p>
                    {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
        <a class="more-gardens" href="/gardens"><p>Browse all Gardens</p></a>
    </div>
</div>
