---
layout: default
title: Growfood - Gardens
---
<!-- <div class="banner banner_garden">
    <div class="banner_contents">
        <h2>Gardens at UC Davis</h2>
        <p>
            I'm sort of a softy, I couldn't shoot Bambi except with a camera.
        </p>
    </div>
</div> -->
<div class="map-wrapper">
    <iframe src="https://www.google.com/maps/d/u/0/embed?mid=zlEkkxgTKN4k.kivT7awLaK-M" width="100%" height="480"></iframe>
</div>
<div class="main">
    <div class="main_contents">
    <p class="center-align forger-green"><i><img src="/media/forger_logo_small.svg"> Forger friendly<i></p>
    <div class="garden-wrapper">
    {% for post in site.categories.garden %}
            
            <div class="garden-card">
                <div class="garden-card_map">
                <img src="/media/gardens/{{ post.imagesource }}/three.jpg" alt="">
                    
                </div>
                <div class="garden-card_details">
                    <h2>
                      <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                    </h2>

                    <p>{{ post.description }}</p>
                  
                    {% if post.growing %}
                    <p><b>What's Growing: </b><span>{{ post.growing }}</span></p>
                    {% endif %}


                     {% if post.forger %}
                    <div><img src="/media/forger_logo_small.svg"></div>
                    {% endif %}
                    
                </div>
            </div>
            
            {% endfor %}
            </div>
    </div>
</div>
