<!DOCTYPE html>
<html>
{% include head.html %}

<body>
    {% include header.html %} {{ content }} {% include footer.html %}
</body>
<script>
(function(i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r;
    i[r] = i[r] || function() {
        (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date();
    a = s.createElement(o),
        m = s.getElementsByTagName(o)[0];
    a.async = 1;
    a.src = g;
    m.parentNode.insertBefore(a, m)
})(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

ga('create', 'UA-652647-71', 'auto');
ga('send', 'pageview');
</script>
<!-- Modal -->
<script>
$('#myModal').on('shown.bs.modal', function() {
    $('#myInput').focus()
})
</script>
<!--   slider -->
<script type="text/javascript">
$(window).load(function() {
    $('#slider').nivoSlider();
});
</script>
<!-- active nav -->
<script type="text/javascript">
$(function() {
    if (location.pathname.split("/")[1]) {
        $('nav a[href^="/' + location.pathname.split("/")[1] + '"]').addClass('active');
    }
});
</script>
<!-- Searchpopup -->
<script src="/js/classie.js"></script>
<script>
new UISearch(document.getElementById('sb-search'));
</script>
<script>
$(".breadcrumb li").last().addClass('active');
</script>
<script>
$(document).ready(function() {
    $('.gallery').featherlightGallery();
});
</script>
<script src="//cdn.rawgit.com/noelboss/featherlight/1.3.5/release/featherlight.min.js" type="text/javascript" charset="utf-8"></script>
<script src="//cdn.rawgit.com/noelboss/featherlight/1.3.5/release/featherlight.gallery.min.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
(function(w, d, t, u, n, s, e) {
    w['SwiftypeObject'] = n;
    w[n] = w[n] || function() {
        (w[n].q = w[n].q || []).push(arguments);
    };
    s = d.createElement(t);
    e = d.getElementsByTagName(t)[0];
    s.async = 1;
    s.src = u;
    e.parentNode.insertBefore(s, e);
})(window, document, 'script', '//s.swiftypecdn.com/install/v2/st.js', '_st');

_st('install', 'TL1aeDZ_yi9s4VZV_7vW', '2.0.0');
</script>
<script src="/js/affix.js"></script>
</html>
