---
layout: default
---

<div class="main">
    <div class="main_contents">
        <article>
            <div class="image-gallery">
                <div class="image_1">
                    <a href="/media/gardens/{{ page.imagesource }}/one.jpg" class="gallery">
                    <img src="/media/gardens/{{ page.imagesource }}/one.jpg" /></a>
                </div>
                <div class="small_wrapper">
                    <div class="image_2">
                        <a href="/media/gardens/{{ page.imagesource }}/two-full.jpg" class="gallery">
                        <img src="/media/gardens/{{ page.imagesource }}/two.jpg" /></a>
                        </div>
                    <div class="image_3">
                        <a href="/media/gardens/{{ page.imagesource }}/three-full.jpg" class="gallery">
                        <img src="/media/gardens/{{ page.imagesource }}/three.jpg"  /></a>
                    </div>
                    <div class="image_4">
                        <a href="/media/gardens/{{ page.imagesource }}/four-full.jpg" class="gallery">
                        <img src="/media/gardens/{{ page.imagesource }}/four.jpg" /></a>
                    </div>
                </div>
            </div>
            <h1 class="post_header">{{ page.title }}</h1>
           	<p>{{ content }}</p>
        </article>
        <aside>
        <iframe src="{{ page.location }}" width="100%" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
            {% if page.growing %}
            <h3>What's Growing</h3>
            <p>{{ page.growing }}</p>
            {% endif %}
            <br>
            {% if page.website %}
            <h3>Website</h3>
            <p>
            <a href="{{ page.website }}">{{ page.website }}</a>
            </p>
            {% endif %}
            {% if page.facebook %}
            <h3>Social</h3>
            <p><a href="{{ page.facebook }}"><i class="fa fa-facebook"></i></a></p>
            {% endif %}
        </aside>
    </div>
</div>
